@use 'src/styles/constants' as c;
@use 'src/styles/mixins' as m;

.button {
  @include m.fontB1;
  height: 40px;
  padding: 4px 12px;
  border-radius: 8px;

  &.primary {
    color: c.$C_WHITE;
    background-color: c.$C_PRIMARY;
    border: 1px solid c.$C_WHITE;
  }

  &.secondary {
    color: c.$C_PRIMARY;
    background-color: c.$C_BACKGROUND;
    border: 1px solid c.$C_PRIMARY;
  }
}
