$Z_TOAST: 9999;
$Z_ALERT: 8000;
$Z_MODAL: 9999;
$Z_TABLE_HEAD: 10;
$Z_UNITY_LOADING: 1000;

$Z_MATRIX_VIEW_MENU: 100;
$Z_MONITORING_GEOFENCE_PANEL: 99;
$Z_LIVE_MODE_PANEL: 100;
$Z_MONITORING_GEOFENCE_DETAIL_PANEL: 101;
$Z_CONDITION_PANNEL: 101;
$Z_SUMMARY_PANNEL: 101;
$Z_LOCATION_PANEL: 101;
$Z_LOCATION_EDIT_PANEL: 102;
$Z_WAREGOUSE_DETAIL_PANEL: 102;
$Z_CONDITION_DETAIL_PANEL: 102;
$Z_LOAD_INFO_PANEL: 102;
$Z_GEOFENCE_CONDITION_PANEL: 103;
$Z_LOAD_INFO_DETAIL_PANEL: 103;
$Z_LOAD_INFO_EDIT_PANEL: 104;
$Z_CONDITION_PANEL: 101;
$Z_GEOFENCE_CONDITION_PANEL: 103;
$Z_CONDITION_DETAIL_PANEL: 104;
$Z_EDIT_CONDITION_PANEL: 105;
$Z_ALARM_REPLAY: 106;
