@use 'src/styles/constants' as c;
@use 'src/styles/mixins' as m;

.wrapper {
  @include m.flex(center, center, column);
  row-gap: 32px;
  height: 100vh;
  padding: 0 12px;

  .result {
    @include m.flex(center, center, column);
    row-gap: 40px;

    > h1 {
      @include m.fontH1;
      color: c.$C_PRIMARY;
    }

    .location {
      padding: 20px;
      background-color: c.$C_PRIMARY;
      border-radius: 8px;

      > p {
        @include m.fontH3;
        color: c.$C_WHITE;
      }
    }
  }
}
