@use 'src/styles/constants' as c;
@use 'src/styles/mixins' as m;
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  @include m.flex(center, center, column);
  height: 100vh;

  .container {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 120px;

    .spinner {
      width: 60px;
      height: 60px;
      border: 12px solid c.$C_BACKGROUND;
      border-top: 12px solid c.$C_PRIMARY;
      border-radius: 50%;
      animation: spinner 1.2s linear infinite;
    }
  }

  > p {
    @include m.fontB1;
    color: c.$C_PRIMARY;
  }
}
