@use 'src/styles/constants' as c;

@mixin fontH1 {
  font-size: 36px;
}

@mixin fontH2 {
  font-size: 32px;
}

@mixin fontH3 {
  font-size: 28px;
}

@mixin fontB1 {
  font-size: 20px;
}

@mixin fontB2 {
  font-size: 18px;
}

@mixin fontB3 {
  font-size: 16px;
}

@mixin fontB4 {
  font-size: 14px;
}
